@font-face {
    font-family: zig;
    src: url('zig.ttf');
}

body {
  padding: 10px;
  font-family: zig, "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background: #777;
  color: #f1f1f1;
}

a {
  color: #ccc;
}

#tabs {
	text-align: left;
}

.loginTab {
	display: inline;
    margin: 20px 0px -10px 0px;
    padding: 10px 20px;
    background: #6DB4F3;
    background: rgba(111,182,243,0.35);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.activeTab {
	background: #337AB7;
}

#theGameCanvas {
	height: 500px;
	width: 410px;
	background: #050505;
	border: 5px solid #f1f1f1;
	margin: auto;
}

h1 {
	letter-spacing: 12px;
}

#yourScore {
	font-size: 30px;
}

#highScoresTable {
	margin: auto;
	text-align: center;
}

#highScoresTable th {
	border-bottom: 1px solid #000;
	text-align: center;
}

#highScoresTable th, td {
	padding-left: 20px;
	padding-right: 20px;
}
