@font-face {
    font-family: zig;
    src: url('zig.ttf');
}

body {
  padding: 10px;
  font-family: zig, "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background: #777;
  color: #f1f1f1;
}

a {
  color: #ccc;
}

#theGameCanvas {
	height: 500px;
	width: 410px;
	background: #050505;
	border: 5px solid #f1f1f1;
	margin: auto;
}

h1 {
	letter-spacing: 12px;
}
