html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/*Video-Section*/
.video-section {
  position: relative;
}

.video-section video {
  width: 100%;
}

.video-section .content {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.video-section h1 {
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color: #fff;
  padding-bottom: 40px;
}

.video-section a {
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  background-color: #4386fc;
  transition: color 0.5s, background 0.5s;
}

.video-section a:hover {
  color: #4386fc;
  background-color: #fff;
  border: solid 1px #4386FC;
  font-weight: bold;
}


/*Supporting*/
.supporting {
  margin-top: 100px;
  margin-bottom: 130px;
  text-align: center;
}

.supporting h2 {
  font-size: 48px;
  font-weight: 300;
}

.supporting p {
  color: #333;
  font-size: 21px;
  font-weight: 300;
  padding: 0 30px;
}

.supporting a {
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  background-color: #4386fc;
  transition: color 0.5s, background 0.5s;
}

.supporting a:hover {
  color: #4386fc;
  background-color: #fff;
  border: solid 1px #4386FC;
  font-weight: bold;
}

/*Feature*/
.feature {
  height: 500px;
  background: url(camp.png) no-repeat center center;
  background-size: cover;
}


/*Footer*/
.footer {
  padding: 30px;
  background-color: #eee;
  color: #000;
}


/*Media Queries*/
@media (max-width: 960px) { 
  .video-section { 
    height: 540px; 
  } 
  .video-section video { 
    height: 540px; 
    width: 960px;
  } 
  .video-section h1 { 
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .video-section { 
    height: 270px; 
  } 
  .video-section .content {
    background: #000;
    position: staic;
    top: 0px;
    padding-bottom: 50px;
    padding-top: 40px;
  }
  .video-section video {
    display: none;
  }
  .feature {
    display: none;
  }
  #second {
    margin-top: -80px;
  }
}

