body {
	text-align: center;
	font-family: "Montserrat";
	padding: 20px;
	margin: 0;
}

h1 {
	margin: 0;
}

table {
	margin: auto;
}

button {
	height: 30px;
	width: 40px;
	border-radius: 5px;
}

button[name="plus"] {
	height: 63px;
}

#answer {
	height: 32px;
	width: 99%;
	background: #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px #666;
	font-size: 26px;
	text-align: right;
	padding-right: 4px;
}

#calcHead {
	padding-right: 5px;
}

#calc {
	background: #1BAEBD;
	display: inline-block;
	height: 212px;
	width: 190px;
	padding-top: 7px;
	border-radius: 5px;
	box-shadow: 2px 2px #666;
	margin-top: 30px;
}
