<div ng-controller="authenticateController">
	<a ng-href="#/game" id="again">Play Again</a>
	<a ng-href="#/highscores" id="topScores">Top Scores</a>

	<div class="cover">
      
      <div class="cover-image" style="background-image : url('https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?w=1024&amp;q=50&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="loginTab activeTab">Create Account</div>
            <div class="loginTab">Sign in</div>

            <hr>
            
            <form id ="signInForm" class="form-horizontal" role="form">
              
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Username</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Username">
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Password</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>

              <div class="form-group">
                <button type="submit" id="signInSubmit" class="btn btn-lg btn-primary">Sign in</button>
              </div>

            </form>

            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Create an Account</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form id="createForm" role="form" action="javascript:void(0);">
              
              <div class="form-group">
                <label class="control-label" for="InputName1">Username</label>
                <input class="form-control" id="InputName1" placeholder="Enter Username" type="text">
              </div>
             
              <div class="form-group">
                <label class="control-label" for="InputPassword1">Password</label>
                <input class="form-control" id="InputPassword1" placeholder="Password" type="password">
              </div>
              <button id="createSubmit" type="submit" class="btn btn-primary">Submit</button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
</div>