<div ng-controller="authenticateController">
	<a ng-href="#/game" id="again">Play Again</a>
	<a ng-href="#/highscores" id="topScores">Top Scores</a>

	<div class="cover">
      
      <div class="cover-image" style="background-image : url('https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?w=1024&amp;q=50&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-muted">Pong</h1><hr>
            
            <form id ="authentication" class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Email</label>
                </div>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Password</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Remember me</label>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
              </div>
            </form>
            <br>
            <br>
            <a class="btn btn-lg btn-primary">Create an Account</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Create an Account</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="exampleInputName1">Name</label>
                <input class="form-control" id="exampleInputName1" placeholder="Name" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>