html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
}

.container {
  max-width: 940px;
}


/*Header*/
.header .container {
  text-align: center;
  border-bottom: solid 1px #e5e5e5;
}

.header img {
  width: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}


/*Main*/
.main h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.main input {
  border-radius: 0px;
}

.main .btn {
  margin-top: 30px;
  margin-bottom: 80px;
  border: none;
  border-radius: 0px;
  background-color: rgba(0,240,190,0.25);
  color: #fff;
  transition: background-color 0.5s;
}

.main .btn:hover {
  background-color: rgba(0,240,190,0.45);
}

.main .container {
  border-bottom: solid 1px #e5e5e5;
}


/*Footer*/
.footer {
  text-decoration: none;
}

.footer ul {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 100px;
}

.footer li {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.footer li a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  transition: color 0.5s;
}

.footer li a:hover {
  color: rgba(0,240,190,0.5);
}


