<!DOCTYPE html>
<html>
	<head>
	  	<title>Avatars</title>
	  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  	<meta charset="utf-8">
	  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	  	<link href='//fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
	  	<link rel="stylesheet" type="text/css" href="style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="script.js"></script>
	</head>

	<body>
		<div ng-app='app' ng-controller='mainCtrl'>
		  
		 	<h1>Users dashboard</h1>
			<h3>Create a new user</h3>
			
		 	<form class='form-group' name='userForm' ng-submit='addNew(userForm)'>
				<input class='form-control' placeholder='Name' ng-model='userForm.name' required/>
				<input class='form-control' placeholder='Image Url' ng-model='userForm.url'/>
				<button class='btn btn-default' type='submit'>Add New</button>
		 	</form>

			<div class='avatarContainer' ng-repeat='user in users'>
		  		<button type="button" ng-click='removeUser(user)' class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  		<avatar user='user' />
			</div>
		
		</div>

	</body>
</html>