html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#header, #mainContent {
  margin: auto;
}

.page {
  position: relative;
  width: 588px;
  margin: auto;
}

.people {
  height: 270px;
}

.peopleFinal {
  height: 308px;
}

.bubbles {
  height: 250px;
  display: block;
  margin: auto;
}

.text {
  position: absolute;
  width: 328px;
  height: 102px;
  text-align: left;
  padding: 5px;
  overflow: scroll;
}

#text1page2, #text1page3 {
  top: 5px;
  left: 8px;
}

#text2page2, #text2page3 {
  top: 114px;
  left: 251px;
}

#exciting {
  background: url('../images/exciting.png') center center no-repeat;
  background-size: contain;
  height: 200px;
}

#exciting h2 {
  font-size: 40px;
  padding-top: 75px;
}

#firstPageForm {
  margin-top: 200px;
  text-align: center;
}

#firstPageForm input {
  text-align: center;
  width: 200px;
}

#secondPage, #thirdPage, #fourthPage, #mobileUsers {
  display: none;
}

@media screen and (max-width: 600px) {
  #header, #firstPage, #secondPage, #thirdPage, #fourthPage {
    display: none;
  }

  #mobileUsers {
    display: block;
    margin: auto;
  }

  #hedgehog {
    width: 75%;
    border-radius: 10px;
  }
}