body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

h3 {
	margin-bottom: 50px;
}

#option1 {
	margin-bottom: 100px;
}
