body {
	overflow: hidden;
	background: limegreen;
}

canvas {
    display: block;
    margin: auto;
    border: 5px solid #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
}
