body {
	margin: 10px;
	padding: 0px;
	text-align: center;
	font-family: 'Open Sans Condensed', Arial, sans-serif;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 0px;
	color: #5B4FA3;
	text-indent: 17px;
}

span {
	text-transform: uppercase;
	padding: 5px 10px;
	width: 70px;
    display: inline-block;
	background: #5B4FA3;
	background: rgba(91, 79, 163, 0.2);
	cursor: pointer;
}

span.active {
	background: #5B4FA3;
	background: rgba(91, 79, 163, 0.8);
}

div#filters {
	margin-bottom: 30px;
}

table {
	margin: auto;
	text-align: center;
	max-width: 90%;
}

tbody {
    border: 2px solid #5B4FA3;
    border-collapse: collapse;
}

td, th {
	padding: 10px 20px;
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.normal {
	background: #5B4FA3;
	background: rgba(91, 79, 163, 0.5);
}

.offline, .closed {
	background: #5B4FA3;
	background: rgba(91, 79, 163, 0.3);
}

.logo {
	height: 50px;
	border-radius: 50px;
	border: solid 3px #5B4FA3;
}

@media screen and (max-width: 500px) {
	#pageLogo {
		width: 250px;
	}
	td, th {
		padding: 5px 10px;
	}
	body {
		margin: 15px 0px;
	}
}