html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 960px;
}


/*Header*/
.header {
  background-color: #000;
  min-height: 80px;
}

.header img {
  height: 50px;
  margin-top: 15px;
  float: left;
}

.header .form-inline, .header .form-group {
  display: inline-block;
}

.header .form-inline {
  float: right;
  margin-top: 15px;
}

input#browse, .btn-default {
  border: none;
  background: transparent;
  border-radius: 0px;
  border-bottom: solid 1px #fff;
  width: 240px;
  margin: 0px 20px;
  color: #fff;
}

.btn-default {
  width: 70px;
  border-bottom: solid 1px #0393ff;
}

input#browse:hover, input#browse:focus {
  border: none;
  background: transparent;
  border-radius: 0px;
  border-bottom: solid 1px #0393ff;
}

.btn-default:hover, .btn-default:focus {
  background: transparent;
  color: #fff;
  border-bottom: solid 1px #0393ff;
}


/*Navigation*/
.navigation {
  background-color: #152230;
  min-height: 40px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.navigation li a:hover {
  background-color: #1a77ff;
}


/*Main*/
.main {
  background: url(bass-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  color: #fff;
  padding-top: 50px;
}

.main h2 span {
  font-size: 50px;
  border-bottom: 5px solid #1a77ff;
}

.main h2 {
  padding-bottom: 20px;
}


/*Supporting*/
.supporting {
  background-color: #F2F2F2;
}

.supporting .row {
  margin-top: 40px;
}

.supporting .col-md-8 {
  background-color: #fff;
  padding-bottom: 40px;
}

.supporting .col-md-4 {
  background-color: #152230;
  color: #fff;
  padding-bottom: 40px;
}

.supporting h4 span {
  border-bottom: 3px solid #1a77ff;
}

.supporting ul {
  list-style: none;
  padding: 0px;
  margin-left: 40px;
}

.supporting ul li {
  padding-bottom: 20px;
}

.supporting h3 {
  padding: 30px 0;
  margin: 0 0 10px 40px;
}


/*Banner*/
.banner {
  background-color: #F2F2F2;
}

.banner .container {
  padding: 40px 15px;
}

.banner .col-md-12 img {
  width: 100%;
}


/*Footer*/
.footer {
  background-color: #000;
  padding: 40px 0;
  color: #fff;
}

.footer ul {
  list-style: none;
  float: left;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a {
  text-decoration: none;
  padding-right: 30px;
  color: #fff;
  transition: color 0.5s;
}

.footer ul li a:hover {
  color: #1a77ff;
}

.footer p {
  float: right;
  padding-right: 30px;
}


/*Media Queries*/
/*@media (min-width: 668px) {
  .header {
    height: 80px;
  }
}*/

@media (max-width: 668px) {
  .header {
    text-align: center;
  }
  .header .form-inline {
    float: none;
    margin-bottom: 15px;
  }
  .header img {
    float: none;
  }
  .navigation li a {
    padding: 5px 5px;
  }
}


@media (max-width: 640px) {
  .navigation ul {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .navigation li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .navigation li a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .navigation .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
	}
}