/* General */
@font-face {
    font-family: "flappyFont";
    src: url("flappyFont.ttf");
}

body {
    color: #000;
    margin: 0;
    padding: 0;
}

p, a {
  font-family: "flappyFont", Arial, sans-serif;
  color: #000;
}

p#copy {
    position: absolute;
    bottom: 0;
    right: 10px;
}

a:hover {
    color: #000;
    text-shadow: 0px 0px 1px #fff;
    text-decoration: none;
}

#game {
    height: 383px;
    width: 770px;
    background-color: #4CD5E0;
    background-color: #70C4CE;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Game */
#game p#score {
    text-align: right;
    font-size: 40px;
    z-index: 5;
    position: absolute;
    right: 10px;
    text-shadow: 0px 0px 7px #fff;
}

#bird {
    -webkit-transform: rotate(340deg) scaleX(-1);
    -moz-transform: rotate(340deg) scaleX(-1);
    -o-transform: rotate(340deg) scaleX(-1);
    -ms-transform: rotate(340deg) scaleX(-1);
    transform: rotate(340deg) scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 190px;
    z-index: 4;
}

.falling {
    -webkit-transform: rotate(20deg) scaleX(-1);
    -moz-transform: rotate(20deg) scaleX(-1);
    -o-transform: rotate(20deg) scaleX(-1);
    -ms-transform: rotate(20deg) scaleX(-1);
    transform: rotate(20deg) scaleX(-1);
}

.dead {
    -webkit-transform: rotate(100deg) scaleX(-1) !important;
    -moz-transform: rotate(100deg) scaleX(-1) !important;
    -o-transform: rotate(100deg) scaleX(-1) !important;
    -ms-transform: rotate(100deg) scaleX(-1) !important;
    transform: rotate(100deg) scaleX(-1) !important;
}

#title {
    width: 600px;
    left: 83px;
    top: 50px;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}

#instructions {
    width: 600px;
    left: 83px;
    top: 200px;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}

.allPipes {
    left: 0px;
}

.pipeBottom {
    width: 40px;
    position: absolute;
}

.pipeTop {
    width: 40px;
    position: absolute;
    -webkit-transform: rotate(180deg) scaleX(-1);
    -moz-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
    -ms-transform: rotate(180deg) scaleX(-1);
    transform: rotate(180deg) scaleX(-1);
}


/* Score Board */
#scoreboard {
    margin: auto;
    display: block;
    max-width: 100%; 
    max-height: 100%;
}

#medal {
    position: absolute;
    top: 220px;
    left: 200px;
    height: 100px;
}

#thisScore {
    position: absolute;
    top: 188px;
    right: 200px;
    font-size: 56px;
}

#highscore {
    position: absolute;
    top: 270px;
    right: 200px;
    font-size: 58px;
}

#again {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 26px;
}

#topScores {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 26px;
}


/* High Scores */
table {
    text-align: left;
    font-family: "flappyFont";
    font-size: 36px;
    color: #000;
    left: 245px;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
}

th, td {
    padding-right: 35px;
}



