body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 50px 10%;
}

a {
	color: #00B7FF;
}

table {
	margin: 60px auto;
}

td, th {
    padding: 10px 20px;
    max-width: 150px;
}

table thead tr {
	background-color: #ddd;
}

table tbody tr:nth-child(odd) {
	background-color: #f1f1f1;
}
table tbody tr:nth-child(even) {
	background-color: #ddd;
}