body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#commentForm {
	width: 70%;
    margin: auto;
}

#someButtons {
	margin: auto;
}

#afterSubmit {
	background: lightblue;
    padding: 10px;
    margin: 10px auto;
    display: inline-block;
    border-radius: 5px;
}

.singleComment {
	background: pink;
	padding: 10px;
    margin: 10px auto;
    display: inline-block;
    border-radius: 5px;
}
